@import "styles/settings/__settings";
// @import "style.css";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-family: 
  "BodyFont", 
  'Source Sans 3', 
  sans-serif 
  ;
}

p {
  line-height: 1.6;
  max-width: 75ch;
}

h1,h2,h3,h4,h5,h6{
  font-family:"Space Grotesk";
  text-transform: uppercase;
  line-height: 1.2;
}

ul {
  padding-left: 1.2em;
}

a {
  color: $color-primary;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

figcaption {
  color: $color-gray-500;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  margin-top: 0.6em;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}


/***Breakpoints**/

@media screen and (min-width: 320px) {
  html,  body {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html, body {
    font-size: 18px;
  }
} 


/***Moderneces que no son comaptibles con muchos browsers**/

html, body {
  font-size: clamp(12px, 4vw, 18px);
}

