@import "styles/settings/__settings";


.footer {
  width: 100%;
  border-top: 1px solid $color-gray-100;
  background-color: $color-gray-600;

}

.footerMenu {
  //border: 2px solid pink;
  ul {
    list-style: none;
    padding: 0;
  }
}

.footerMenuColumns {
  //border: 2px solid pink;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  

  @media (min-width: 480px) {
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  & > li {
    margin-left: 2em;
  }
}

.footerMenuTitle {
  //border: 2px solid pink;
  display: flex;
  color: $color-gray-100;
  text-decoration: none;
  font-size: 3rem;
  
}

.footerMenuItems {
  //border: 2px solid pink;
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    //border: 2px solid pink;
    display: block;
    //overflow: hidden;
    color: $color-gray-100;
    text-decoration: none;
    white-space: wrap;
    text-overflow: ellipsis;

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        //text-decoration: underline;
      }
    }
  }
  u {

  }
}

.footerLegal {
  //border: 2px solid pink;
  color: $color-gray-100;
  background-color: $color-gray-600;
  padding: 0.8rem 0;
  margin: 0;
  display: flex;
  justify-content: center;

  p {
    display: flex;
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }
}
